version: '3.8'

services:
  api:
    build: .
    container_name: chiltiu_backend
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - GIN_MODE=release
